Package: com.sticktron.reacherswitcher
Name: ReacherSwitcher
Depends: mobilesubstrate
Version: 0.9.1
Architecture: iphoneos-arm
Description: Reachability opens the AppSwitcher instead.
 Change Log
 + Added settings.
Maintainer: Sticktron
Author: Sticktron
Section: Tweaks
