Package: com.sticktron.reacherswitcher
Name: ReacherSwitcher (iOS 9/10)
Depends: mobilesubstrate
Version: 0.9.3
Architecture: iphoneos-arm
Description: Reachability opens the AppSwitcher instead.
 Change Log
 + added iOS 9 support
Maintainer: Sticktron
Author: Sticktron
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ReacherSwitcher.bundle/Icon.png
