<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>ReacherSwitcher</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.sticktron.reacherswitcher</string>
			<key>PostNotification</key>
			<string>com.sticktron.reacherswitcher.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>by Sticktron
				
😈</string>
		</dict>
	</array>
</dict>
</plist>
